main {
    display: flex;
    flex-direction : column;
    justify-content: initial;
    align-items: center;
    /* background: red; */
    padding : 1rem 0rem;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    padding : 1rem 3rem;
    justify-content : center;
    align-items: center;
    gap: 1rem;
}

.form > input {
    border-radius : 5px;
    padding : .5rem 1rem;
    border: 2px solid rgba(122, 120, 120, 0.685);
    outline: none;
    text-indent: 5px;
}

.form > input:focus {
    border-color : transparent;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: .7rem 1rem;
    width: 100%;
    grid-column: 1 / -1;
    border-radius: 5px;
    color : white;
    font-weight: 500;
    transition: background 200ms ease-in-out;
}

.submit-btn:hover {
    background: linear-gradient(90deg, #bc37ec 1.18%, #c035f3 100%);
}
.meme{
    position : relative
}
.meme--img {
    width : 500px;
    height : fit-content;
    object-fit: contain;
    margin-top : 1rem;
}

.meme--text {
    position : absolute;
    width : 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin :15px 0;
    padding: 0 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}